.navbar {
    background-color: #868686;
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 20%;
}

body {
    overflow: hidden;
    min-height: 100vh;
}

.navbar img {
    height: 100px;
    width: 100px;
}

.navbar .icons {
    display: flex;
    align-items: center;
}

.navbar h1 {
    display: flex;
    align-items: center;
}

.navbar .icons img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
}

textarea {
    display: block;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#enunciado {
    height: 150px;
}

#Examen {
    float: right;
    width: 50%;
    padding: 20px;
}

#contenedor {
    display: flex;
    margin-top: 50px;
    min-height: 80%;
}

#preguntas-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;
}

#preguntas-container h2 {
    margin: 0;
}

.navbar .icons img:hover {
    border: 2px black solid;
    padding: 2px;
    cursor: pointer;
}

#contenedor img {
    width: 75px;
    height: 75px;
}

#contenedor img:hover {
    border: 2px black solid;
    padding: 2px;
    cursor: pointer;
}

/* Estilos para la clase "pregunta" */
.pregunta {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;

}

.pregunta:hover {
    cursor: pointer;
    border: 2px solid #000;
}

/* Estilos para la clase "cuadrado" */
.cuadrado {
    width: 20px;
    height: 20px;
    background-color: #0074d9;
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para la clase "enunciado" */
.enunciado {
    font-weight: bold;
    color: #333;
}

/*ESTILOS CRUD*/
#crud {
    display: flex;

}

#crud img {
    margin-right: 10px;

}

/* //listado alumno */
#info-container {
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 500px;
}

#cuadrado-exterior {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    margin-top: 20px;
}

#cuadrado-interior {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    margin: 10px;
}

#info-text {
    text-align: left;
}

#info-text p {
    margin: 5px 0;
}
.alumno{
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}
.alumno:hover {
    cursor: pointer;
    border: 2px solid #000;
}
.nombrelista {
    font-weight: bold; /* Texto en negrita */
}
#alumnos-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#alumnos-container h2 {
    margin: 0;
    float: left;
    /* hay que hacer que el puto titulo se aparte de ahi pedro */
}

.alumno {
    height: 180px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(33.33% - 10px); 
    box-sizing: border-box;
}

.cuadrado {
    width: 50px;
    height: 50px;
    background-color: #007bff; 
    margin: 0 auto 10px; 
}

.nombrelista {
    font-weight: bold; 
    margin-bottom: 10px; 
}

.botones-administracion {
    display: flex;
    justify-content: space-between; 
}

.botones-administracion button {
    background-color: #f1f1f1; 
    color: #000; 
    padding: 8px 16px; 
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-administracion button:hover {
    background-color: #ddd; 
}
.botones-roles {
    display: flex;
    justify-content: space-between; 
}

.botones-roles button {
    background-color: #f1f1f1; 
    color: #000; 
    padding: 8px 16px; 
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-roles button:hover {
    background-color: #ddd; 
}