/* .navbar {
    background-color: #868686;
    color: #fff;
    display: flex;
    justify-content: space-between;
    min-height: 20%;
} */

body {
    overflow: hidden;
    min-height: 100vh;
}

/* .navbar img {
    height: 100px;
    width: 100px;
}

.navbar .icons {
    display: flex;
    align-items: center;
}

.navbar h1 {
    display: flex;
    align-items: center;
}

.navbar .icons img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
} */

/* //navbar */

#cuerpo{
    display: contents;
}

.dropdown {
    width: 100%;
    filter: url(#goo);
}

.dropdown__face,
.dropdown__items {
    background-color: #fff;
    padding: 20px;
}

.dropdown__face {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.dropdown__text {
    display: flex;
    justify-content: start;
}

.dropdown__text img {
    width: 75px;
    height: 75px;
}

.dropdown__items {
    margin: 0;
    position: absolute;
    right: 0;
    width: 10%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
    border-radius: 25px;
}

.dropdown__items li:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.dropdown__items i {
    padding-right: 10px;
}

#dropdown {
    display: none;
}

input:checked~.dropdown__items {
    top: calc(100% + 25px);
    visibility: visible;
    opacity: 1;
}

body {
    background-image: linear-gradient(140deg, #e2e2e2, #cdcdcd);
    place-items: center;
    font-family: "Lato", Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

svg {
    display: none;
}


/* fin */
h1 {
    font-size: 20px;
    font-weight: bold;
}

h2 {
    font-size: 18px;
}

textarea {
    display: block;
    width: 500px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#enunciado {
    height: 150px;
}

#Examen {
    float: right;
    width: 50%;
    padding: 20px;
}

#contenedor {
    display: flex;
    margin-top: 50px;
    min-height: 80%;
}

#preguntas-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;
}

#preguntas-container h2 {
    margin: 0;
}

.navbar .icons img:hover {
    border: 2px black solid;
    padding: 2px;
    cursor: pointer;
}

#contenedor img {
    width: 75px;
    height: 75px;
}

#contenedor img:hover {
    border: 2px black solid;
    padding: 2px;
    cursor: pointer;
}

/* Estilos para la clase "pregunta" */
.pregunta {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;

}

.pregunta:hover {
    cursor: pointer;
    border: 2px solid #000;
}

/* Estilos para la clase "cuadrado" */
.cuadrado {
    width: 20px;
    height: 20px;
    background-color: #0074d9;
    display: inline-block;
    margin-right: 10px;
}

/* Estilos para la clase "enunciado" */
.enunciado {
    font-weight: bold;
    color: #333;
}

/*ESTILOS CRUD*/
#crud {
    display: flex;

}

#crud img {
    margin-right: 10px;

}

/* //listado alumno */
#info-container {
    border: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 500px;
}

#cuadrado-exterior {
    width: 80px;
    height: 80px;
    border: 2px solid #ccc;
    margin-top: 20px;
}

#cuadrado-interior {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    margin: 10px;
}

#info-text {
    text-align: left;
}

#info-text p {
    margin: 5px 0;
}

.alumno {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
}

.alumno:hover {
    cursor: pointer;
    border: 2px solid #000;
}

.nombrelista {
    font-weight: bold;
    /* Texto en negrita */
}

#alumnos-container {
    border: 2px solid #ccc;
    padding: 10px;
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    height: 600px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

#alumnos-container h2 {
    margin: 0;
    width: 100%;

}

.alumno {
    height: 180px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 10px;
    width: calc(32% - 10px);
    box-sizing: border-box;
}

.cuadrado {
    width: 50px;
    height: 50px;
    background-color: #007bff;
    margin: 0 auto 10px;
}

.nombrelista {
    font-weight: bold;
    margin-bottom: 10px;
}

.botones-administracion {
    display: flex;
    justify-content: space-between;
}

.botones-administracion button {
    background-color: #f1f1f1;
    color: #000;
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-administracion button:hover {
    background-color: #ddd;
}

.botones-roles {
    display: flex;
    justify-content: space-between;
}

.botones-roles button {
    background-color: #f1f1f1;
    color: #000;
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botones-roles button:hover {
    background-color: #ddd;
}

/* test */
.caja {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
}

#test-container {
    margin-top: 10px;
    height: 600px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
}

/* examen */
#exam-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas, la primera más grande */
    grid-template-rows: auto auto auto;
    /* Tres filas automáticas */
    gap: 20px;
    /* Espacio entre las cajas */
    padding: 20px;
}

.caja-grande {
    grid-column: 2;
    /* Coloca la caja grande en la segunda columna */
    grid-row: 1 / span 2;
    /* Ocupa dos filas desde la primera */
    height: 200px;
    background-color: lightblue;
}

.caja-larga {
    grid-row: 1 / span 2;
    /* Ocupa dos filas desde la primera */
    height: 400px;
    background-color: lightcoral;
}

.radio-buttons {
    grid-column: 2;
    /* Coloca los botones en la primera columna */
    grid-row: 2;
    /* Están en la segunda fila */
    display: block;
    margin-top: 50px;
    flex-direction: column;
    background-color: darkorchid;
}

.radio-button {
    margin-bottom: 100px;
}

.caja-alargada {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin-top: 50px;
    height: 200px;
    background-color: lightgreen;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    box-sizing: border-box;
}

.timer-container {
    display: flex;
    width: 100px;
    background-color: black;
    justify-content: center;
    margin-left: 400px;
}

.timer {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    height: 30px;
    font-size: 24px;
    text-align: center;
    color: red;
    /* Números en rojo */
}

.terminar {
    grid-column: 2;
    grid-row: 4/5;
    /* background-color: rgb(166, 255, 0); */
    height: 30px;
}

#fin {
    float: right;
}

/* Estilos para el contenido */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

button {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

/* dar alta */
#botonAlta-list {
    display: flex;
    float: left;
}


/* Estilos para el modal */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal-contenido {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.cerrar {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}