/* Estilos para la barra de navegación */
.navbar {
    background-color: #868686;
    color: #fff;
    display: flex;
    justify-content: space-between;
    
}

body{
    overflow: hidden;
}

.navbar img {
    height: 100px;
    width: 100px;
}

.navbar .icons {
    display: flex;
    align-items: center;
}

.navbar h1 {
    display: flex;
    align-items: center;
}

.navbar .icons img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

/* Estilos para el contenido */
.content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 40%;
}

button {
    margin: 5px;
    padding: 10px; 
    width: 200px; 
}
